/* CABECALHO */
.cabecalho__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.cabecalho__pesquisar__item {
  display: none;
}

/* MENU CONTAINER */
.menu__container {
  bottom: 0%;
  height: 74px;
  position: fixed;
  width: 100%;
}

/* MENU LISTA */
.menu__lista {
  display: flex;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
  display: none;
}

/* SECAO SUPERIOR */
.superior__secao__container {
  align-items: center;
  display: flex;
  gap: 15px;
  white-space: nowrap;
  overflow: scroll;
}

/* RODAPE */
.rodape__container {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: column wrap;
}

/* REPONSIVO */
@media screen and (min-width: 834px) {
  .cabecalho__pesquisar__item {
    display: block;
  }

  .rodape__container {
    justify-content: space-between;
  }
}
